<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dzik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Dzik.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="MsgPartMaxLen" serializeAs="String">
                <value>9900</value>
            </setting>
            <setting name="ReplyWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReplyWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaintextWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaintextWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaintextWindowWidth" serializeAs="String">
                <value>760</value>
            </setting>
            <setting name="PlaintextWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LetterQuotationTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EstimateLoadingXamlMsg" serializeAs="String">
                <value>0.00831733</value>
            </setting>
        </Dzik.Properties.Settings>
    </userSettings>
</configuration>